// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Lato);

.container {
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
    p {
        font-size: 30px;
        color: #107275;
    }
}

.square {
    width: 100px;
    height: 100px;
    border: 3px solid #000;
    border-color: #8E5858;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .player {
        display: inline-block;
        font-size: 30px;
        color: #44165E;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
